
#header{ 
    background-color:#23C7CA; 
    color: white;  
    text-align: center;  
    font-size: 20px;  
}  
#navigate{  
   background-color:#23C7CA;  
    padding: 5px;  
}  
ul{  
  
    list-style-type: none;  
}  
li a {  
    color:black;  
font-size: 30px;  
font-family:Cambria;
column-width: 15%;  

    }  

    li  
   {  
    display: inline;  
    padding-left: 2px;  
   // column-width: 20px;  
   }  
   a{  
 text-decoration: none;  
 margin-left:20px  
    }  
   li a:hover{  
    background-color: yellowgreen;  
    color: #FF1654;  
    //padding:1%;  
   }  
    #Image1{
       float:right;
       height:300px;
       width:300px;
       

   }
   

   #div1{
       float:right;
       height:600px;
       width:600px;
       

   }
  