<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <sessionState mode="InProc" cookieless="true" timeout="10"></sessionState>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="Library_ManagementConnectionString" connectionString="Data Source=SUYPC123;Initial Catalog=Library_Management;User ID=sa;Password=Suyati123"
      providerName="System.Data.SqlClient" />
    <add name="Library_ManagementConnectionString2" connectionString="Data Source=SUYPC123;Initial Catalog=Library_Management;User ID=sa;Password=Suyati123"
      providerName="System.Data.SqlClient" />
    <add name="Library_ManagementConnectionString3" connectionString="Data Source=SUYPC123;Initial Catalog=Library_Management;User ID=sa;Password=Suyati123"
      providerName="System.Data.SqlClient" />
    <add name="Library_ManagementConnectionString4" connectionString="Data Source=SUYPC123;Initial Catalog=Library_Management;User ID=sa;Password=Suyati123"
      providerName="System.Data.SqlClient" />
    <add name="Library_ManagementEntities" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUYPC123;initial catalog=Library_Management;user id=sa;password=Suyati123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Library_ManagementEntities1" connectionString="metadata=res://*/Models.Library.csdl|res://*/Models.Library.ssdl|res://*/Models.Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUYPC123;initial catalog=Library_Management;user id=sa;password=Suyati123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Library_ManagementEntities2" connectionString="metadata=res://*/Models.Library.csdl|res://*/Models.Library.ssdl|res://*/Models.Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUYPC123;initial catalog=Library_Management;user id=sa;password=Suyati123;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Library_ManagementEntities3" connectionString="metadata=res://*/Models.Library.csdl|res://*/Models.Library.ssdl|res://*/Models.Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUYPC123;initial catalog=Library_Management;user id=sa;password=Suyati123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Library_ManagementEntities4" connectionString="metadata=res://*/Models.Library.csdl|res://*/Models.Library.ssdl|res://*/Models.Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUYPC123;initial catalog=Library_Management;user id=sa;password=Suyati123;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Library_ManagementConnectionString5" connectionString="Data Source=SUYPC123;Initial Catalog=Library_Management;Persist Security Info=True;User ID=sa;Password=Suyati123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>